body {
    background-color:#f5f5f5;
}

.intro {
    border: none;
    padding: 20px;
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    text-align: center;
    border: 3px solid #000;
}

#continuations {
    background-color:#ffe6d8;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid #000;
}

.opening {
    text-align: center;
}

#continuationtitle {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.continuations {
    list-style-position: inside;
    background-color: #f5f5f5;
    padding: 20px;
    border: 3px solid #000;
    width: 30%;
    max-width: 150px;
}

#moves {
    text-align: center;
    list-style-position: inside;
    padding: 0px
}

#click {
    border: 2px solid #000;
    background-color: aliceblue;
    padding: 10px;
    width: 400px;
    margin: auto;
}

.alternate {
    padding-top: 10px;
}

.title {
    background-color: #000;
    color: #ffe6d8;
    padding: 20px
}

.boardcontainer {
    padding-top: 50px;
}